In [25]:
import pandas as pd

In [26]:
df = pd.read_csv("C:\\Users\\Mahsa\\Desktop\\Excel files\\customer_shopping_behavior.csv")

In [27]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [28]:
df.shape

(3900, 18)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [30]:
df.describe().map(lambda x: f"{x:.1f}")

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.0,3900.0,3900.0,3863.0,3900.0
mean,1950.5,44.1,59.8,3.8,25.4
std,1126.0,15.2,23.7,0.7,14.4
min,1.0,18.0,20.0,2.5,1.0
25%,975.8,31.0,39.0,3.1,13.0
50%,1950.5,44.0,60.0,3.8,25.0
75%,2925.2,57.0,81.0,4.4,38.0
max,3900.0,70.0,100.0,5.0,50.0

In [31]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [32]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [33]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [34]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [35]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [36]:
# Create a column age_group
labels = ['Young adult', 'Adult', 'Middle-aged', 'Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels = labels)

In [50]:
df[['age', 'age_group']].sample(15)

      age    age_group
1392   31  Young adult
3409   24  Young adult
238    64       Senior
3352   55  Middle-aged
3703   30  Young adult
3036   50  Middle-aged
1271   70       Senior
1948   54  Middle-aged
2382   39        Adult
1679   60       Senior
3181   31  Young adult
1528   69       Senior
2701   49  Middle-aged
2900   41        Adult
2619   68       Senior

In [38]:
# create columns purchase_frequency_days

frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Month': 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [39]:
df[['purchase_frequency_days', 'frequency_of_purchases']].sample(15)

      purchase_frequency_days frequency_of_purchases
1671                      7.0                 Weekly
764                      90.0              Quarterly
2208                     30.0                Monthly
739                      14.0              Bi-Weekly
1564                      NaN         Every 3 Months
3410                     14.0              Bi-Weekly
3649                     14.0            Fortnightly
1048                     14.0            Fortnightly
3463                     14.0            Fortnightly
3039                     14.0              Bi-Weekly
1185                     30.0                Monthly
1280                      NaN         Every 3 Months
2382                      7.0                 Weekly
1797                      7.0                 Weekly
763                      30.0                Monthly

In [40]:
print(df.columns.tolist())

['customer_id', 'age', 'gender', 'item_purchased', 'category', 'purchase_amount', 'location', 'size', 'color', 'season', 'review_rating', 'subscription_status', 'shipping_type', 'discount_applied', 'promo_code_used', 'previous_purchases', 'payment_method', 'frequency_of_purchases', 'age_group', 'purchase_frequency_days']

In [41]:
df[['discount_applied', 'promo_code_used']].sample(10)

     discount_applied promo_code_used
2804               No              No
484               Yes             Yes
2262               No              No
3701               No              No
3811               No              No
1515              Yes             Yes
602               Yes             Yes
1068              Yes             Yes
2800               No              No
1796               No              No

In [49]:
(df['discount_applied'] == df['promo_code_used']).all()

KeyError: 'promo_code_used'

In [43]:
df = df.drop('promo_code_used', axis=1)

In [45]:
import warnings
warnings.filterwarnings('ignore')

In [63]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\mahsa\appdata\local\programs\python\python313\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [71]:
from sqlalchemy import create_engine

password_encoded = "mahyar%401404%23%40%25"
engine = create_engine(f"mysql+pymysql://root:{password_encoded}@127.0.0.1/customerbehavior")

df.to_sql("behavior_data", engine, if_exists="replace", index=False)

print("Your DataFrame 'df' has been uploaded to MySQL as 'behavior_data' table!")

Your DataFrame 'df' has been uploaded to MySQL as 'behavior_data' table!

In [72]:
cursor.execute("SELECT NOW();")
cursor.fetchall()

[(datetime.datetime(2025, 11, 19, 22, 25, 33),)]

In [78]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [74]:
test_df = pd.read_sql("SELECT * FROM behavior_data", engine)

# Show the first few rows
print(test_df.head())

   customer_id  age gender item_purchased  category  purchase_amount  \
0            1   55   Male         Blouse  Clothing               53
1            2   19   Male        Sweater  Clothing               64
2            3   50   Male          Jeans  Clothing               73
3            4   21   Male        Sandals  Footwear               90
4            5   45   Male         Blouse  Clothing               49

        location size      color  season  review_rating subscription_status  \
0       Kentucky    L       Gray  Winter            3.1                 Yes
1          Maine    L     Maroon  Winter            3.1                 Yes
2  Massachusetts    S     Maroon  Spring            3.1                 Yes
3   Rhode Island    M     Maroon  Spring            3.5                 Yes
4         Oregon    M  Turquoise  Spring            2.7                 Yes

   shipping_type discount_applied  previous_purchases payment_method  \
0        Express              Yes                  14          Venmo
1        Express              Yes                   2           Cash
2  Free Shipping              Yes                  23    Credit Card
3   Next Day Air              Yes                  49         PayPal
4  Free Shipping              Yes                  31         PayPal

  frequency_of_purchases    age_group  purchase_frequency_days
0            Fortnightly  Middle-aged                     14.0
1            Fortnightly  Young adult                     14.0
2                 Weekly  Middle-aged                      7.0
3                 Weekly  Young adult                      7.0
4               Annually  Middle-aged                    365.0

In [ ]:
import os
print(os.getcwd())  Ù‡